@media screen and (max-width: 600px) {

    ul {
       height: auto;
       display: flex;
       flex-direction: column; /* Arrange items in a column */
       justify-content: flex-start; /* Align items to the start */
       align-items: flex-end; /* Align items to the end (right) */
       padding: 0;
       margin: 0;
       position: absolute;
       right: 0;
       top: 75px; /* Adjust this value based on your header height */
   }

   main {
       min-height: 200vh;
   }

   header h1 {
       text-align: left;
       padding-left: 1rem; 
       font-size: 1.7rem; 
   }

   .menu-text {
       display: none; /* Hide the text on mobile */
   }

   .menu-icon {
       display: inline-block;
       width: 55px;
       height: 30px;
       background-color: burlywood; 
       border-radius: 2px;
       padding: 5px;
       margin-bottom: 10px; /* Add some space between the buttons */
   }

   nav ul {
       display: flex;
       flex-direction: column; /* Ensure the icons are in a column */
       justify-content: flex-start; /* Align items to the start */
       align-items: flex-end; /* Align items to the end (right) */
       width: auto;
   }

   nav ul li {
       display: flex;
       justify-content: center; /* Center items within each list item */
       align-items: center;
       width: 100%; /* Ensure all list items take full width */
   }

   #shuffle-button {
       display: none; /* Hide the shuffle button on mobile */
   }
}